-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: db_sistemmanajemenevent_lari
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'2026_01_18_000000_import_legacy_schema',1),(2,'2026_01_18_165338_create_sessions_table',1),(3,'2026_01_18_165339_create_cache_table',1),(4,'2026_01_18_165339_create_jobs_table',1),(5,'2026_01_18_171545_update_schema_for_dynamic_data',1),(6,'2026_01_18_201303_add_bukti_pembayaran_to_tr_pembayaran_table',1),(7,'2026_01_19_000000_add_profile_fields_to_users_table',1),(8,'2026_01_19_000001_add_numeric_distance_to_categories',1),(9,'2026_01_19_000002_add_club_and_bib_columns',1),(10,'2026_01_19_000003_rename_club_to_city',1);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_backuplog`
--

DROP TABLE IF EXISTS `ms_backuplog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_backuplog` (
  `BackupID` int NOT NULL AUTO_INCREMENT,
  `AdminID` int DEFAULT NULL,
  `WaktuBackup` datetime DEFAULT CURRENT_TIMESTAMP,
  `StatusBackup` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`BackupID`),
  KEY `AdminID` (`AdminID`),
  CONSTRAINT `ms_backuplog_ibfk_1` FOREIGN KEY (`AdminID`) REFERENCES `tr_pengguna` (`PenggunaID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_backuplog`
--

LOCK TABLES `ms_backuplog` WRITE;
/*!40000 ALTER TABLE `ms_backuplog` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_backuplog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_biayakategori`
--

DROP TABLE IF EXISTS `ms_biayakategori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_biayakategori` (
  `BiayaID` int NOT NULL AUTO_INCREMENT,
  `KategoriID` int DEFAULT NULL,
  `PeriodePembayaran` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Nominal` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`BiayaID`),
  KEY `KategoriID` (`KategoriID`),
  CONSTRAINT `ms_biayakategori_ibfk_1` FOREIGN KEY (`KategoriID`) REFERENCES `ms_kategorilomba` (`KategoriID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_biayakategori`
--

LOCK TABLES `ms_biayakategori` WRITE;
/*!40000 ALTER TABLE `ms_biayakategori` DISABLE KEYS */;
INSERT INTO `ms_biayakategori` VALUES (1,1,'Normal',175000.00),(2,NULL,'Normal',275000.00),(3,NULL,'Normal',475000.00),(4,NULL,'Normal',575000.00),(5,NULL,'Normal',775000.00),(6,NULL,'Normal',975000.00);
/*!40000 ALTER TABLE `ms_biayakategori` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_audit_biaya_update` AFTER UPDATE ON `ms_biayakategori` FOR EACH ROW BEGIN

    INSERT INTO tr_logaktivitassistem (PenggunaID, Aktivitas, WaktuAktivitas)

    VALUES (

        1, -- Asumsi ID Admin Utama

        CONCAT('Mengubah biaya Kategori ID ', OLD.KategoriID, ' dari ', OLD.Nominal, ' menjadi ', NEW.Nominal),

        NOW()

    );

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `ms_dokumenpendukung`
--

DROP TABLE IF EXISTS `ms_dokumenpendukung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_dokumenpendukung` (
  `DokumenID` int NOT NULL AUTO_INCREMENT,
  `PendaftaranID` int DEFAULT NULL,
  `NamaDokumen` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Wajib` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`DokumenID`),
  KEY `PendaftaranID` (`PendaftaranID`),
  CONSTRAINT `ms_dokumenpendukung_ibfk_1` FOREIGN KEY (`PendaftaranID`) REFERENCES `tr_pendaftaran` (`PendaftaranID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_dokumenpendukung`
--

LOCK TABLES `ms_dokumenpendukung` WRITE;
/*!40000 ALTER TABLE `ms_dokumenpendukung` DISABLE KEYS */;
INSERT INTO `ms_dokumenpendukung` VALUES (1,NULL,'Foto KTP / Kartu Identitas',1),(2,NULL,'Surat Keterangan Sehat',1),(3,NULL,'Surat Persetujuan Ikut Event (Signed Consent)',1),(4,NULL,'Foto KTP / SIM / Paspor',1),(5,NULL,'Surat Keterangan Sehat (Puskesmas/RS)',1),(6,NULL,'Surat Persetujuan Ikut Event (Signed Consent)',1);
/*!40000 ALTER TABLE `ms_dokumenpendukung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_event`
--

DROP TABLE IF EXISTS `ms_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_event` (
  `EventID` int NOT NULL AUTO_INCREMENT,
  `NamaEvent` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `DeskripsiEvent` text COLLATE utf8mb4_general_ci,
  `StatusEvent` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `GambarEvent` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`EventID`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_event`
--

LOCK TABLES `ms_event` WRITE;
/*!40000 ALTER TABLE `ms_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_faq`
--

DROP TABLE IF EXISTS `ms_faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_faq` (
  `FaqID` int NOT NULL AUTO_INCREMENT,
  `Pertanyaan` text COLLATE utf8mb4_general_ci,
  `Jawaban` text COLLATE utf8mb4_general_ci,
  `Urutan` int DEFAULT NULL,
  PRIMARY KEY (`FaqID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_faq`
--

LOCK TABLES `ms_faq` WRITE;
/*!40000 ALTER TABLE `ms_faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_halamanweb`
--

DROP TABLE IF EXISTS `ms_halamanweb`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_halamanweb` (
  `HalamanID` int NOT NULL AUTO_INCREMENT,
  `JudulHalaman` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Slug` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Konten` text COLLATE utf8mb4_general_ci,
  `LastUpdated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`HalamanID`),
  UNIQUE KEY `Slug` (`Slug`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_halamanweb`
--

LOCK TABLES `ms_halamanweb` WRITE;
/*!40000 ALTER TABLE `ms_halamanweb` DISABLE KEYS */;
INSERT INTO `ms_halamanweb` VALUES (1,'Tentang Kami','tentang-kami','Bandung Marathon adalah event lari tahunan sejak 2020...','2026-01-16 01:30:46'),(2,'Syarat & Ketentuan','rules','Peserta wajib dalam kondisi sehat walafiat...','2026-01-16 01:30:46');
/*!40000 ALTER TABLE `ms_halamanweb` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_jadwalevent`
--

DROP TABLE IF EXISTS `ms_jadwalevent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_jadwalevent` (
  `JadwalID` int NOT NULL AUTO_INCREMENT,
  `EventID` int DEFAULT NULL,
  `JenisJadwal` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `WaktuJadwal` datetime DEFAULT NULL,
  PRIMARY KEY (`JadwalID`),
  KEY `EventID` (`EventID`),
  CONSTRAINT `ms_jadwalevent_ibfk_1` FOREIGN KEY (`EventID`) REFERENCES `ms_event` (`EventID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_jadwalevent`
--

LOCK TABLES `ms_jadwalevent` WRITE;
/*!40000 ALTER TABLE `ms_jadwalevent` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_jadwalevent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_kategorilomba`
--

DROP TABLE IF EXISTS `ms_kategorilomba`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_kategorilomba` (
  `KategoriID` int NOT NULL AUTO_INCREMENT,
  `EventID` int DEFAULT NULL,
  `NamaKategori` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Jarak` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `JarakKM` decimal(8,2) DEFAULT NULL,
  `BatasUsiaMin` int DEFAULT NULL,
  `BatasUsiaMax` int DEFAULT NULL,
  PRIMARY KEY (`KategoriID`),
  KEY `EventID` (`EventID`),
  CONSTRAINT `ms_kategorilomba_ibfk_1` FOREIGN KEY (`EventID`) REFERENCES `ms_event` (`EventID`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_kategorilomba`
--

LOCK TABLES `ms_kategorilomba` WRITE;
/*!40000 ALTER TABLE `ms_kategorilomba` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_kategorilomba` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_mediasosialevent`
--

DROP TABLE IF EXISTS `ms_mediasosialevent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_mediasosialevent` (
  `MedsosID` int NOT NULL AUTO_INCREMENT,
  `EventID` int DEFAULT NULL,
  `NamaPlatform` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `URLAkun` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`MedsosID`),
  KEY `EventID` (`EventID`),
  CONSTRAINT `ms_mediasosialevent_ibfk_1` FOREIGN KEY (`EventID`) REFERENCES `ms_event` (`EventID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_mediasosialevent`
--

LOCK TABLES `ms_mediasosialevent` WRITE;
/*!40000 ALTER TABLE `ms_mediasosialevent` DISABLE KEYS */;
INSERT INTO `ms_mediasosialevent` VALUES (1,1,'Instagram','https://instagram.com/bandungmarathon'),(2,1,'Facebook','https://facebook.com/bandungmarathon'),(3,1,'Twitter/X','https://x.com/bdgmarathon');
/*!40000 ALTER TABLE `ms_mediasosialevent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_metodepembayaran`
--

DROP TABLE IF EXISTS `ms_metodepembayaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_metodepembayaran` (
  `MetodeID` int NOT NULL AUTO_INCREMENT,
  `NamaMetode` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `NomorAkun` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `AtasNama` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`MetodeID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_metodepembayaran`
--

LOCK TABLES `ms_metodepembayaran` WRITE;
/*!40000 ALTER TABLE `ms_metodepembayaran` DISABLE KEYS */;
INSERT INTO `ms_metodepembayaran` VALUES (1,'Transfer Bank BCA','0012344556','Panitia Bandung Run'),(2,'Transfer Bank Mandiri','13100223344','Panitia Bandung Run'),(3,'Transfer Bank BNI','0098877665','Panitia Bandung Run'),(4,'Transfer Bank BRI','00211223344','Panitia Bandung Run'),(5,'Gopay','08123456789','Bandung Run Official'),(6,'OVO','08123456789','Bandung Run Official'),(7,'Dana','08123456789','Bandung Run Official'),(8,'ShopeePay','08123456789','Bandung Run Official'),(9,'QRIS / QR Code','QR-BDG-2026','Bandung Marathon 2026');
/*!40000 ALTER TABLE `ms_metodepembayaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_notifikasi`
--

DROP TABLE IF EXISTS `ms_notifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_notifikasi` (
  `NotifikasiID` int NOT NULL AUTO_INCREMENT,
  `AdminID` int DEFAULT NULL,
  `TipeNotifikasi` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `JudulNotifikasi` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `IsiNotifikasi` text COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`NotifikasiID`),
  KEY `AdminID` (`AdminID`),
  CONSTRAINT `ms_notifikasi_ibfk_1` FOREIGN KEY (`AdminID`) REFERENCES `tr_pengguna` (`PenggunaID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_notifikasi`
--

LOCK TABLES `ms_notifikasi` WRITE;
/*!40000 ALTER TABLE `ms_notifikasi` DISABLE KEYS */;
INSERT INTO `ms_notifikasi` VALUES (3,1,'Email','Pendaftaran Berhasil','Terima kasih telah mendaftar. Silakan lakukan pembayaran.'),(4,1,'Web','Pembayaran Terverifikasi','Selamat! Pembayaran Anda telah kami terima.');
/*!40000 ALTER TABLE `ms_notifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_pengaturanuser`
--

DROP TABLE IF EXISTS `ms_pengaturanuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_pengaturanuser` (
  `PengaturanID` int NOT NULL AUTO_INCREMENT,
  `PenggunaID` int DEFAULT NULL,
  `NamaPengaturan` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `NilaiPengaturan` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`PengaturanID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_pengaturanuser`
--

LOCK TABLES `ms_pengaturanuser` WRITE;
/*!40000 ALTER TABLE `ms_pengaturanuser` DISABLE KEYS */;
INSERT INTO `ms_pengaturanuser` VALUES (1,1,'Email_Notification','Enabled'),(2,1,'Two_Factor_Auth','Disabled');
/*!40000 ALTER TABLE `ms_pengaturanuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_peran`
--

DROP TABLE IF EXISTS `ms_peran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_peran` (
  `PeranID` int NOT NULL AUTO_INCREMENT,
  `NamaPeran` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`PeranID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_peran`
--

LOCK TABLES `ms_peran` WRITE;
/*!40000 ALTER TABLE `ms_peran` DISABLE KEYS */;
INSERT INTO `ms_peran` VALUES (1,'Admin'),(2,'Panitia'),(3,'Petugas Lapangan'),(4,'Peserta');
/*!40000 ALTER TABLE `ms_peran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_racepackitem`
--

DROP TABLE IF EXISTS `ms_racepackitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_racepackitem` (
  `ItemID` int NOT NULL AUTO_INCREMENT,
  `NamaItem` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `DeskripsiItem` text COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`ItemID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_racepackitem`
--

LOCK TABLES `ms_racepackitem` WRITE;
/*!40000 ALTER TABLE `ms_racepackitem` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_racepackitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_resetpasswordtoken`
--

DROP TABLE IF EXISTS `ms_resetpasswordtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_resetpasswordtoken` (
  `TokenID` int NOT NULL AUTO_INCREMENT,
  `PenggunaID` int DEFAULT NULL,
  `Token` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `WaktuExpired` datetime DEFAULT NULL,
  PRIMARY KEY (`TokenID`),
  KEY `PenggunaID` (`PenggunaID`),
  CONSTRAINT `ms_resetpasswordtoken_ibfk_1` FOREIGN KEY (`PenggunaID`) REFERENCES `tr_pengguna` (`PenggunaID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_resetpasswordtoken`
--

LOCK TABLES `ms_resetpasswordtoken` WRITE;
/*!40000 ALTER TABLE `ms_resetpasswordtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_resetpasswordtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_slotkategori`
--

DROP TABLE IF EXISTS `ms_slotkategori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_slotkategori` (
  `SlotID` int NOT NULL AUTO_INCREMENT,
  `KategoriID` int DEFAULT NULL,
  `KuotaTotal` int DEFAULT NULL,
  `KuotaTersisa` int DEFAULT NULL,
  `TanggalMulai` datetime DEFAULT NULL,
  `TanggalSelesai` datetime DEFAULT NULL,
  `LokasiEvent` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `StatusEvent` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`SlotID`),
  KEY `KategoriID` (`KategoriID`),
  CONSTRAINT `ms_slotkategori_ibfk_1` FOREIGN KEY (`KategoriID`) REFERENCES `ms_kategorilomba` (`KategoriID`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_slotkategori`
--

LOCK TABLES `ms_slotkategori` WRITE;
/*!40000 ALTER TABLE `ms_slotkategori` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_slotkategori` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_stokracepack`
--

DROP TABLE IF EXISTS `ms_stokracepack`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ms_stokracepack` (
  `StokID` int NOT NULL AUTO_INCREMENT,
  `ItemID` int DEFAULT NULL,
  `Ukuran` varchar(10) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `JumlahStok` int DEFAULT NULL,
  PRIMARY KEY (`StokID`),
  KEY `ItemID` (`ItemID`),
  CONSTRAINT `ms_stokracepack_ibfk_1` FOREIGN KEY (`ItemID`) REFERENCES `ms_racepackitem` (`ItemID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_stokracepack`
--

LOCK TABLES `ms_stokracepack` WRITE;
/*!40000 ALTER TABLE `ms_stokracepack` DISABLE KEYS */;
INSERT INTO `ms_stokracepack` VALUES (1,1,'S',250),(2,1,'M',350),(3,1,'L',300),(4,1,'XL',100);
/*!40000 ALTER TABLE `ms_stokracepack` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
INSERT INTO `sessions` VALUES ('JHz2704BnmfaB4uqqUUvmn3jF42niRh5WKJnCa95',8,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36','YTo0OntzOjY6Il90b2tlbiI7czo0MDoiZ2JoSUpJQVYyYW1uc0o0T0sxZjhwUVltQlpIN2tyeDhUWThlYmdHNiI7czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6Mjg6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMC9ldmVudHMiO3M6NToicm91dGUiO3M6MTY6ImRhc2hib2FyZC5ldmVudHMiO31zOjUwOiJsb2dpbl93ZWJfNTliYTM2YWRkYzJiMmY5NDAxNTgwZjAxNGM3ZjU4ZWE0ZTMwOTg5ZCI7aTo4O30=',1768794571);
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `total_distances`
--

DROP TABLE IF EXISTS `total_distances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `total_distances` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `PenggunaID` int unsigned NOT NULL,
  `TotalDistance` decimal(10,2) NOT NULL DEFAULT '0.00',
  `LastUpdated` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `total_distances_penggunaid_unique` (`PenggunaID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `total_distances`
--

LOCK TABLES `total_distances` WRITE;
/*!40000 ALTER TABLE `total_distances` DISABLE KEYS */;
INSERT INTO `total_distances` VALUES (1,3,30.00,'2026-01-18 19:31:05'),(2,4,10.00,'2026-01-18 19:31:05'),(3,5,10.00,'2026-01-18 19:31:05');
/*!40000 ALTER TABLE `total_distances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_aktivitaslogin`
--

DROP TABLE IF EXISTS `tr_aktivitaslogin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_aktivitaslogin` (
  `LoginID` int NOT NULL AUTO_INCREMENT,
  `PenggunaID` int DEFAULT NULL,
  `IPAddress` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `WaktuLogin` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`LoginID`),
  KEY `PenggunaID` (`PenggunaID`),
  CONSTRAINT `tr_aktivitaslogin_ibfk_1` FOREIGN KEY (`PenggunaID`) REFERENCES `tr_pengguna` (`PenggunaID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_aktivitaslogin`
--

LOCK TABLES `tr_aktivitaslogin` WRITE;
/*!40000 ALTER TABLE `tr_aktivitaslogin` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_aktivitaslogin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_detailpilihanpeserta`
--

DROP TABLE IF EXISTS `tr_detailpilihanpeserta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_detailpilihanpeserta` (
  `PilihanID` int NOT NULL AUTO_INCREMENT,
  `PendaftaranID` int DEFAULT NULL,
  `SponsorID` int DEFAULT NULL,
  `JenisPilihan` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `NilaiPilihan` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`PilihanID`),
  KEY `PendaftaranID` (`PendaftaranID`),
  KEY `SponsorID` (`SponsorID`),
  CONSTRAINT `tr_detailpilihanpeserta_ibfk_1` FOREIGN KEY (`PendaftaranID`) REFERENCES `tr_pendaftaran` (`PendaftaranID`),
  CONSTRAINT `tr_detailpilihanpeserta_ibfk_2` FOREIGN KEY (`SponsorID`) REFERENCES `tr_sponsor` (`SponsorID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_detailpilihanpeserta`
--

LOCK TABLES `tr_detailpilihanpeserta` WRITE;
/*!40000 ALTER TABLE `tr_detailpilihanpeserta` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_detailpilihanpeserta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_galleryevent`
--

DROP TABLE IF EXISTS `tr_galleryevent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_galleryevent` (
  `PhotoID` int NOT NULL AUTO_INCREMENT,
  `EventID` int DEFAULT NULL,
  `Caption` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `FilePath` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`PhotoID`),
  KEY `EventID` (`EventID`),
  CONSTRAINT `tr_galleryevent_ibfk_1` FOREIGN KEY (`EventID`) REFERENCES `ms_event` (`EventID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_galleryevent`
--

LOCK TABLES `tr_galleryevent` WRITE;
/*!40000 ALTER TABLE `tr_galleryevent` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_galleryevent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_hasillomba`
--

DROP TABLE IF EXISTS `tr_hasillomba`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_hasillomba` (
  `HasilID` int NOT NULL AUTO_INCREMENT,
  `PendaftaranID` int DEFAULT NULL,
  `WaktuFinish` time DEFAULT NULL,
  `PeringkatUmum` int DEFAULT NULL,
  `StatusHasil` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`HasilID`),
  KEY `PendaftaranID` (`PendaftaranID`),
  CONSTRAINT `tr_hasillomba_ibfk_1` FOREIGN KEY (`PendaftaranID`) REFERENCES `tr_pendaftaran` (`PendaftaranID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_hasillomba`
--

LOCK TABLES `tr_hasillomba` WRITE;
/*!40000 ALTER TABLE `tr_hasillomba` DISABLE KEYS */;
INSERT INTO `tr_hasillomba` VALUES (1,1,'00:25:00',45,'Finish'),(2,5,'00:55:00',120,'Finish'),(3,4,'00:40:00',15,'Finish'),(4,6,'00:48:00',10,'Finish'),(5,7,'00:50:00',35,'Finish'),(6,8,'04:15:00',3,'Finish'),(7,13,'00:55:30',5,'Finish'),(8,14,'00:58:00',10,'Finish');
/*!40000 ALTER TABLE `tr_hasillomba` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_logaktivitassistem`
--

DROP TABLE IF EXISTS `tr_logaktivitassistem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_logaktivitassistem` (
  `LogID` int NOT NULL AUTO_INCREMENT,
  `PenggunaID` int DEFAULT NULL,
  `TipeAktivitas` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `DetailAktivitas` text COLLATE utf8mb4_general_ci,
  `WaktuLog` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`LogID`),
  KEY `PenggunaID` (`PenggunaID`),
  CONSTRAINT `tr_logaktivitassistem_ibfk_1` FOREIGN KEY (`PenggunaID`) REFERENCES `tr_pengguna` (`PenggunaID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_logaktivitassistem`
--

LOCK TABLES `tr_logaktivitassistem` WRITE;
/*!40000 ALTER TABLE `tr_logaktivitassistem` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_logaktivitassistem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_pembayaran`
--

DROP TABLE IF EXISTS `tr_pembayaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_pembayaran` (
  `PembayaranID` int NOT NULL AUTO_INCREMENT,
  `PendaftaranID` int DEFAULT NULL,
  `MetodeID` int DEFAULT NULL,
  `NominalBayar` decimal(15,2) DEFAULT NULL,
  `StatusPembayaran` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `BuktiPembayaran` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `TanggalBayar` datetime DEFAULT NULL,
  PRIMARY KEY (`PembayaranID`),
  KEY `PendaftaranID` (`PendaftaranID`),
  KEY `MetodeID` (`MetodeID`),
  CONSTRAINT `tr_pembayaran_ibfk_1` FOREIGN KEY (`PendaftaranID`) REFERENCES `tr_pendaftaran` (`PendaftaranID`),
  CONSTRAINT `tr_pembayaran_ibfk_2` FOREIGN KEY (`MetodeID`) REFERENCES `ms_metodepembayaran` (`MetodeID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_pembayaran`
--

LOCK TABLES `tr_pembayaran` WRITE;
/*!40000 ALTER TABLE `tr_pembayaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_pembayaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_pendaftaran`
--

DROP TABLE IF EXISTS `tr_pendaftaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_pendaftaran` (
  `PendaftaranID` int NOT NULL AUTO_INCREMENT,
  `PenggunaID` int DEFAULT NULL,
  `KategoriID` int DEFAULT NULL,
  `NomorBIB` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `StatusPendaftaran` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `TanggalPendaftaran` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`PendaftaranID`),
  KEY `PenggunaID` (`PenggunaID`),
  KEY `KategoriID` (`KategoriID`),
  CONSTRAINT `tr_pendaftaran_ibfk_1` FOREIGN KEY (`PenggunaID`) REFERENCES `tr_pengguna` (`PenggunaID`),
  CONSTRAINT `tr_pendaftaran_ibfk_2` FOREIGN KEY (`KategoriID`) REFERENCES `ms_kategorilomba` (`KategoriID`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_pendaftaran`
--

LOCK TABLES `tr_pendaftaran` WRITE;
/*!40000 ALTER TABLE `tr_pendaftaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_pendaftaran` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_pendaftaran_insert` AFTER INSERT ON `tr_pendaftaran` FOR EACH ROW BEGIN

    -- Mengurangi kuota pada kategori yang dipilih peserta

    UPDATE ms_slotkategori 

    SET KuotaTersisa = KuotaTersisa - 1

    WHERE KategoriID = NEW.KategoriID;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_backup_pendaftaran_deleted` BEFORE DELETE ON `tr_pendaftaran` FOR EACH ROW BEGIN

    INSERT INTO ms_backuplog (Aktivitas, DataLama, WaktuBackup)

    VALUES (

        'DELETE_PENDAFTARAN', 

        CONCAT('Pendaftaran ID: ', OLD.PendaftaranID, ' dihapus.'), 

        NOW()

    );

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `tr_pengguna`
--

DROP TABLE IF EXISTS `tr_pengguna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_pengguna` (
  `PenggunaID` int NOT NULL AUTO_INCREMENT,
  `Username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `Email` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `NomorTelepon` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Kota` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `NamaLengkap` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Gambar` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `PeranID` int DEFAULT NULL,
  PRIMARY KEY (`PenggunaID`),
  UNIQUE KEY `Username` (`Username`),
  UNIQUE KEY `Email` (`Email`),
  KEY `PeranID` (`PeranID`),
  CONSTRAINT `tr_pengguna_ibfk_1` FOREIGN KEY (`PeranID`) REFERENCES `ms_peran` (`PeranID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_pengguna`
--

LOCK TABLES `tr_pengguna` WRITE;
/*!40000 ALTER TABLE `tr_pengguna` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_pengguna` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_pengirimannotifikasi`
--

DROP TABLE IF EXISTS `tr_pengirimannotifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_pengirimannotifikasi` (
  `KirimID` int NOT NULL AUTO_INCREMENT,
  `NotifikasiID` int DEFAULT NULL,
  `PenggunaTargetID` int DEFAULT NULL,
  `WaktuKirim` datetime DEFAULT CURRENT_TIMESTAMP,
  `StatusKirim` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`KirimID`),
  KEY `NotifikasiID` (`NotifikasiID`),
  KEY `PenggunaTargetID` (`PenggunaTargetID`),
  CONSTRAINT `tr_pengirimannotifikasi_ibfk_1` FOREIGN KEY (`NotifikasiID`) REFERENCES `ms_notifikasi` (`NotifikasiID`),
  CONSTRAINT `tr_pengirimannotifikasi_ibfk_2` FOREIGN KEY (`PenggunaTargetID`) REFERENCES `tr_pengguna` (`PenggunaID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_pengirimannotifikasi`
--

LOCK TABLES `tr_pengirimannotifikasi` WRITE;
/*!40000 ALTER TABLE `tr_pengirimannotifikasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_pengirimannotifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_peringkatkelompokusia`
--

DROP TABLE IF EXISTS `tr_peringkatkelompokusia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_peringkatkelompokusia` (
  `PeringkatUsiaID` int NOT NULL AUTO_INCREMENT,
  `EventID` int DEFAULT NULL,
  `HasilID` int DEFAULT NULL,
  `KelompokUsia` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `PeringkatKelompok` int DEFAULT NULL,
  PRIMARY KEY (`PeringkatUsiaID`),
  KEY `EventID` (`EventID`),
  KEY `HasilID` (`HasilID`),
  CONSTRAINT `tr_peringkatkelompokusia_ibfk_1` FOREIGN KEY (`EventID`) REFERENCES `ms_event` (`EventID`),
  CONSTRAINT `tr_peringkatkelompokusia_ibfk_2` FOREIGN KEY (`HasilID`) REFERENCES `tr_hasillomba` (`HasilID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_peringkatkelompokusia`
--

LOCK TABLES `tr_peringkatkelompokusia` WRITE;
/*!40000 ALTER TABLE `tr_peringkatkelompokusia` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_peringkatkelompokusia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_pesankontak`
--

DROP TABLE IF EXISTS `tr_pesankontak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_pesankontak` (
  `PesanID` int NOT NULL AUTO_INCREMENT,
  `NamaPengirim` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `EmailPengirim` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Subjek` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `IsiPesan` text COLLATE utf8mb4_general_ci,
  `TanggalKirim` datetime DEFAULT CURRENT_TIMESTAMP,
  `StatusBaca` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`PesanID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_pesankontak`
--

LOCK TABLES `tr_pesankontak` WRITE;
/*!40000 ALTER TABLE `tr_pesankontak` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_pesankontak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_peserta`
--

DROP TABLE IF EXISTS `tr_peserta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_peserta` (
  `PesertaID` int NOT NULL AUTO_INCREMENT,
  `PendaftaranID` int DEFAULT NULL,
  `JenisKelamin` enum('L','P') COLLATE utf8mb4_general_ci DEFAULT NULL,
  `TanggalLahir` date DEFAULT NULL,
  `NomorTelepon` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`PesertaID`),
  KEY `PendaftaranID` (`PendaftaranID`),
  CONSTRAINT `tr_peserta_ibfk_1` FOREIGN KEY (`PendaftaranID`) REFERENCES `tr_pendaftaran` (`PendaftaranID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_peserta`
--

LOCK TABLES `tr_peserta` WRITE;
/*!40000 ALTER TABLE `tr_peserta` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_peserta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_racepackdetailpeserta`
--

DROP TABLE IF EXISTS `tr_racepackdetailpeserta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_racepackdetailpeserta` (
  `RacePackPesertaID` int NOT NULL AUTO_INCREMENT,
  `PendaftaranID` int DEFAULT NULL,
  `NomorBIB` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `ChipTimerID` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`RacePackPesertaID`),
  KEY `PendaftaranID` (`PendaftaranID`),
  CONSTRAINT `tr_racepackdetailpeserta_ibfk_1` FOREIGN KEY (`PendaftaranID`) REFERENCES `tr_pendaftaran` (`PendaftaranID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_racepackdetailpeserta`
--

LOCK TABLES `tr_racepackdetailpeserta` WRITE;
/*!40000 ALTER TABLE `tr_racepackdetailpeserta` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_racepackdetailpeserta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_racepackdistribusi`
--

DROP TABLE IF EXISTS `tr_racepackdistribusi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_racepackdistribusi` (
  `DistribusiID` int NOT NULL AUTO_INCREMENT,
  `PendaftaranID` int DEFAULT NULL,
  `PetugasID` int DEFAULT NULL,
  `StatusPengambilan` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `TanggalPengambilan` datetime DEFAULT NULL,
  PRIMARY KEY (`DistribusiID`),
  KEY `PendaftaranID` (`PendaftaranID`),
  KEY `PetugasID` (`PetugasID`),
  CONSTRAINT `tr_racepackdistribusi_ibfk_1` FOREIGN KEY (`PendaftaranID`) REFERENCES `tr_pendaftaran` (`PendaftaranID`),
  CONSTRAINT `tr_racepackdistribusi_ibfk_2` FOREIGN KEY (`PetugasID`) REFERENCES `tr_pengguna` (`PenggunaID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_racepackdistribusi`
--

LOCK TABLES `tr_racepackdistribusi` WRITE;
/*!40000 ALTER TABLE `tr_racepackdistribusi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_racepackdistribusi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_sertifikat`
--

DROP TABLE IF EXISTS `tr_sertifikat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_sertifikat` (
  `SertifikatID` int NOT NULL AUTO_INCREMENT,
  `PendaftaranID` int DEFAULT NULL,
  `NomorSertifikat` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `FilePathPdf` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`SertifikatID`),
  KEY `PendaftaranID` (`PendaftaranID`),
  CONSTRAINT `tr_sertifikat_ibfk_1` FOREIGN KEY (`PendaftaranID`) REFERENCES `tr_pendaftaran` (`PendaftaranID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_sertifikat`
--

LOCK TABLES `tr_sertifikat` WRITE;
/*!40000 ALTER TABLE `tr_sertifikat` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_sertifikat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_sponsor`
--

DROP TABLE IF EXISTS `tr_sponsor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_sponsor` (
  `SponsorID` int NOT NULL AUTO_INCREMENT,
  `EventID` int DEFAULT NULL,
  `NamaSponsor` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `TingkatSponsor` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`SponsorID`),
  KEY `EventID` (`EventID`),
  CONSTRAINT `tr_sponsor_ibfk_1` FOREIGN KEY (`EventID`) REFERENCES `ms_event` (`EventID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_sponsor`
--

LOCK TABLES `tr_sponsor` WRITE;
/*!40000 ALTER TABLE `tr_sponsor` DISABLE KEYS */;
INSERT INTO `tr_sponsor` VALUES (1,1,'Bank Mandiri','Platinum'),(2,1,'Pocari Sweat','Gold'),(3,1,'Adidas Indonesia','Gold'),(4,1,'Indofood','Silver'),(5,1,'Grab Indonesia','Transport Partner');
/*!40000 ALTER TABLE `tr_sponsor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tr_verifikasipembayaran`
--

DROP TABLE IF EXISTS `tr_verifikasipembayaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tr_verifikasipembayaran` (
  `VerifikasiID` int NOT NULL AUTO_INCREMENT,
  `PembayaranID` int DEFAULT NULL,
  `PanitiaID` int DEFAULT NULL,
  `StatusVerifikasi` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `WaktuVerifikasi` datetime DEFAULT NULL,
  PRIMARY KEY (`VerifikasiID`),
  KEY `PembayaranID` (`PembayaranID`),
  KEY `PanitiaID` (`PanitiaID`),
  CONSTRAINT `tr_verifikasipembayaran_ibfk_1` FOREIGN KEY (`PembayaranID`) REFERENCES `tr_pembayaran` (`PembayaranID`),
  CONSTRAINT `tr_verifikasipembayaran_ibfk_2` FOREIGN KEY (`PanitiaID`) REFERENCES `tr_pengguna` (`PenggunaID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tr_verifikasipembayaran`
--

LOCK TABLES `tr_verifikasipembayaran` WRITE;
/*!40000 ALTER TABLE `tr_verifikasipembayaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `tr_verifikasipembayaran` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_verifikasi_to_logistik` AFTER UPDATE ON `tr_verifikasipembayaran` FOR EACH ROW BEGIN

    DECLARE v_pendaftaran_id INT;



    -- Mencari PendaftaranID dari tabel pembayaran karena di tabel verifikasi tidak ada

    SELECT PendaftaranID INTO v_pendaftaran_id 

    FROM tr_pembayaran 

    WHERE PembayaranID = NEW.PembayaranID;



    -- Jika status verifikasi berubah menjadi 'Valid'

    IF NEW.StatusVerifikasi = 'Valid' THEN

        -- Memasukkan data ke distribusi racepack

        INSERT INTO tr_racepackdistribusi (PendaftaranID, StatusAmbil, TanggalUpdate)

        VALUES (v_pendaftaran_id, 'Belum Diambil', NOW());

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary view structure for view `v_aktivitas_terbaru`
--

DROP TABLE IF EXISTS `v_aktivitas_terbaru`;
/*!50001 DROP VIEW IF EXISTS `v_aktivitas_terbaru`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_aktivitas_terbaru` AS SELECT 
 1 AS `NamaLengkap`,
 1 AS `Aktivitas`,
 1 AS `Waktu`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_audit_sistem`
--

DROP TABLE IF EXISTS `v_audit_sistem`;
/*!50001 DROP VIEW IF EXISTS `v_audit_sistem`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_audit_sistem` AS SELECT 
 1 AS `LogID`,
 1 AS `Username`,
 1 AS `TipeAktivitas`,
 1 AS `DetailAktivitas`,
 1 AS `WaktuLog`,
 1 AS `StatusBackup`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_cek_sertifikat`
--

DROP TABLE IF EXISTS `v_cek_sertifikat`;
/*!50001 DROP VIEW IF EXISTS `v_cek_sertifikat`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_cek_sertifikat` AS SELECT 
 1 AS `NamaLengkap`,
 1 AS `NamaEvent`,
 1 AS `NomorSertifikat`,
 1 AS `FilePathPdf`,
 1 AS `WaktuFinish`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_data_pendaftaran`
--

DROP TABLE IF EXISTS `v_data_pendaftaran`;
/*!50001 DROP VIEW IF EXISTS `v_data_pendaftaran`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_data_pendaftaran` AS SELECT 
 1 AS `PendaftaranID`,
 1 AS `NamaLengkap`,
 1 AS `NamaEvent`,
 1 AS `NamaKategori`,
 1 AS `StatusPendaftaran`,
 1 AS `TanggalPendaftaran`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_identitas_event_medsos`
--

DROP TABLE IF EXISTS `v_identitas_event_medsos`;
/*!50001 DROP VIEW IF EXISTS `v_identitas_event_medsos`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_identitas_event_medsos` AS SELECT 
 1 AS `EventID`,
 1 AS `NamaEvent`,
 1 AS `NamaPlatform`,
 1 AS `URLAkun`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_jadwal_slot_lengkap`
--

DROP TABLE IF EXISTS `v_jadwal_slot_lengkap`;
/*!50001 DROP VIEW IF EXISTS `v_jadwal_slot_lengkap`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_jadwal_slot_lengkap` AS SELECT 
 1 AS `NamaEvent`,
 1 AS `JenisJadwal`,
 1 AS `WaktuJadwal`,
 1 AS `NamaKategori`,
 1 AS `KuotaTersisa`,
 1 AS `TanggalMulai`,
 1 AS `TanggalSelesai`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_katalog_event`
--

DROP TABLE IF EXISTS `v_katalog_event`;
/*!50001 DROP VIEW IF EXISTS `v_katalog_event`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_katalog_event` AS SELECT 
 1 AS `EventID`,
 1 AS `NamaEvent`,
 1 AS `NamaKategori`,
 1 AS `Jarak`,
 1 AS `KuotaTersisa`,
 1 AS `Harga`,
 1 AS `LokasiEvent`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_keamanan_akses`
--

DROP TABLE IF EXISTS `v_keamanan_akses`;
/*!50001 DROP VIEW IF EXISTS `v_keamanan_akses`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_keamanan_akses` AS SELECT 
 1 AS `Username`,
 1 AS `IPAddress`,
 1 AS `WaktuLogin`,
 1 AS `TokenExpired`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_konfirmasi_pembayaran`
--

DROP TABLE IF EXISTS `v_konfirmasi_pembayaran`;
/*!50001 DROP VIEW IF EXISTS `v_konfirmasi_pembayaran`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_konfirmasi_pembayaran` AS SELECT 
 1 AS `PembayaranID`,
 1 AS `PendaftaranID`,
 1 AS `NamaLengkap`,
 1 AS `NamaMetode`,
 1 AS `NominalBayar`,
 1 AS `StatusPembayaran`,
 1 AS `StatusVerifikasi`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_leaderboard`
--

DROP TABLE IF EXISTS `v_leaderboard`;
/*!50001 DROP VIEW IF EXISTS `v_leaderboard`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_leaderboard` AS SELECT 
 1 AS `PeringkatUmum`,
 1 AS `NamaLengkap`,
 1 AS `NamaKategori`,
 1 AS `WaktuFinish`,
 1 AS `KelompokUsia`,
 1 AS `PeringkatKelompok`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_logistik_racepack`
--

DROP TABLE IF EXISTS `v_logistik_racepack`;
/*!50001 DROP VIEW IF EXISTS `v_logistik_racepack`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_logistik_racepack` AS SELECT 
 1 AS `PendaftaranID`,
 1 AS `NamaLengkap`,
 1 AS `NomorBIB`,
 1 AS `ChipTimerID`,
 1 AS `StatusPengambilan`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_profil_pengguna`
--

DROP TABLE IF EXISTS `v_profil_pengguna`;
/*!50001 DROP VIEW IF EXISTS `v_profil_pengguna`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_profil_pengguna` AS SELECT 
 1 AS `PenggunaID`,
 1 AS `Username`,
 1 AS `Email`,
 1 AS `NamaLengkap`,
 1 AS `NamaPeran`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_rekap_keuangan_event`
--

DROP TABLE IF EXISTS `v_rekap_keuangan_event`;
/*!50001 DROP VIEW IF EXISTS `v_rekap_keuangan_event`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_rekap_keuangan_event` AS SELECT 
 1 AS `NamaEvent`,
 1 AS `Total_Pendaftar`,
 1 AS `Total_Pendapatan`,
 1 AS `Jumlah_Lunas`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_rekap_sponsor_peserta`
--

DROP TABLE IF EXISTS `v_rekap_sponsor_peserta`;
/*!50001 DROP VIEW IF EXISTS `v_rekap_sponsor_peserta`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_rekap_sponsor_peserta` AS SELECT 
 1 AS `NamaSponsor`,
 1 AS `TingkatSponsor`,
 1 AS `NamaPeserta`,
 1 AS `JenisPilihan`,
 1 AS `NilaiPilihan`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_riwayat_notifikasi`
--

DROP TABLE IF EXISTS `v_riwayat_notifikasi`;
/*!50001 DROP VIEW IF EXISTS `v_riwayat_notifikasi`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_riwayat_notifikasi` AS SELECT 
 1 AS `KirimID`,
 1 AS `Penerima`,
 1 AS `JudulNotifikasi`,
 1 AS `TipeNotifikasi`,
 1 AS `WaktuKirim`,
 1 AS `StatusKirim`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_statistik_admin`
--

DROP TABLE IF EXISTS `v_statistik_admin`;
/*!50001 DROP VIEW IF EXISTS `v_statistik_admin`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_statistik_admin` AS SELECT 
 1 AS `Total_Event`,
 1 AS `Total_Pendaftar`,
 1 AS `Total_Pendapatan`,
 1 AS `Total_User`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_timeline_aktivitas`
--

DROP TABLE IF EXISTS `v_timeline_aktivitas`;
/*!50001 DROP VIEW IF EXISTS `v_timeline_aktivitas`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_timeline_aktivitas` AS SELECT 
 1 AS `NamaLengkap`,
 1 AS `Tipe_Aktivitas`,
 1 AS `Waktu`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_verifikasi_dokumen`
--

DROP TABLE IF EXISTS `v_verifikasi_dokumen`;
/*!50001 DROP VIEW IF EXISTS `v_verifikasi_dokumen`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_verifikasi_dokumen` AS SELECT 
 1 AS `DokumenID`,
 1 AS `PendaftaranID`,
 1 AS `NamaLengkap`,
 1 AS `NamaDokumen`,
 1 AS `Wajib`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_aktivitas_terbaru`
--

/*!50001 DROP VIEW IF EXISTS `v_aktivitas_terbaru`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_aktivitas_terbaru` AS select `u`.`NamaLengkap` AS `NamaLengkap`,'Login' AS `Aktivitas`,`a`.`WaktuLogin` AS `Waktu` from (`tr_aktivitaslogin` `a` join `tr_pengguna` `u` on((`a`.`PenggunaID` = `u`.`PenggunaID`))) union all select `u`.`NamaLengkap` AS `NamaLengkap`,'Mendaftar Event' AS `Aktivitas`,`p`.`TanggalPendaftaran` AS `Waktu` from (`tr_pendaftaran` `p` join `tr_pengguna` `u` on((`p`.`PenggunaID` = `u`.`PenggunaID`))) order by `Waktu` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_audit_sistem`
--

/*!50001 DROP VIEW IF EXISTS `v_audit_sistem`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_audit_sistem` AS select `l`.`LogID` AS `LogID`,`u`.`Username` AS `Username`,`l`.`TipeAktivitas` AS `TipeAktivitas`,`l`.`DetailAktivitas` AS `DetailAktivitas`,`l`.`WaktuLog` AS `WaktuLog`,`b`.`StatusBackup` AS `StatusBackup` from ((`tr_logaktivitassistem` `l` join `tr_pengguna` `u` on((`l`.`PenggunaID` = `u`.`PenggunaID`))) left join `ms_backuplog` `b` on((`u`.`PenggunaID` = `b`.`AdminID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_cek_sertifikat`
--

/*!50001 DROP VIEW IF EXISTS `v_cek_sertifikat`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_cek_sertifikat` AS select `u`.`NamaLengkap` AS `NamaLengkap`,`e`.`NamaEvent` AS `NamaEvent`,`s`.`NomorSertifikat` AS `NomorSertifikat`,`s`.`FilePathPdf` AS `FilePathPdf`,`h`.`WaktuFinish` AS `WaktuFinish` from (((((`tr_sertifikat` `s` join `tr_pendaftaran` `p` on((`s`.`PendaftaranID` = `p`.`PendaftaranID`))) join `tr_pengguna` `u` on((`p`.`PenggunaID` = `u`.`PenggunaID`))) join `tr_hasillomba` `h` on((`p`.`PendaftaranID` = `h`.`PendaftaranID`))) join `ms_kategorilomba` `k` on((`p`.`KategoriID` = `k`.`KategoriID`))) join `ms_event` `e` on((`k`.`EventID` = `e`.`EventID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_data_pendaftaran`
--

/*!50001 DROP VIEW IF EXISTS `v_data_pendaftaran`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_data_pendaftaran` AS select `p`.`PendaftaranID` AS `PendaftaranID`,`u`.`NamaLengkap` AS `NamaLengkap`,`e`.`NamaEvent` AS `NamaEvent`,`k`.`NamaKategori` AS `NamaKategori`,`p`.`StatusPendaftaran` AS `StatusPendaftaran`,`p`.`TanggalPendaftaran` AS `TanggalPendaftaran` from (((`tr_pendaftaran` `p` join `tr_pengguna` `u` on((`p`.`PenggunaID` = `u`.`PenggunaID`))) join `ms_kategorilomba` `k` on((`p`.`KategoriID` = `k`.`KategoriID`))) join `ms_event` `e` on((`k`.`EventID` = `e`.`EventID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_identitas_event_medsos`
--

/*!50001 DROP VIEW IF EXISTS `v_identitas_event_medsos`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_identitas_event_medsos` AS select `e`.`EventID` AS `EventID`,`e`.`NamaEvent` AS `NamaEvent`,`m`.`NamaPlatform` AS `NamaPlatform`,`m`.`URLAkun` AS `URLAkun` from (`ms_event` `e` left join `ms_mediasosialevent` `m` on((`e`.`EventID` = `m`.`EventID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_jadwal_slot_lengkap`
--

/*!50001 DROP VIEW IF EXISTS `v_jadwal_slot_lengkap`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_jadwal_slot_lengkap` AS select `e`.`NamaEvent` AS `NamaEvent`,`j`.`JenisJadwal` AS `JenisJadwal`,`j`.`WaktuJadwal` AS `WaktuJadwal`,`k`.`NamaKategori` AS `NamaKategori`,`s`.`KuotaTersisa` AS `KuotaTersisa`,`s`.`TanggalMulai` AS `TanggalMulai`,`s`.`TanggalSelesai` AS `TanggalSelesai` from (((`ms_event` `e` join `ms_jadwalevent` `j` on((`e`.`EventID` = `j`.`EventID`))) join `ms_kategorilomba` `k` on((`e`.`EventID` = `k`.`EventID`))) join `ms_slotkategori` `s` on((`k`.`KategoriID` = `s`.`KategoriID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_katalog_event`
--

/*!50001 DROP VIEW IF EXISTS `v_katalog_event`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_katalog_event` AS select `e`.`EventID` AS `EventID`,`e`.`NamaEvent` AS `NamaEvent`,`k`.`NamaKategori` AS `NamaKategori`,`k`.`Jarak` AS `Jarak`,`s`.`KuotaTersisa` AS `KuotaTersisa`,`b`.`Nominal` AS `Harga`,`s`.`LokasiEvent` AS `LokasiEvent` from (((`ms_event` `e` join `ms_kategorilomba` `k` on((`e`.`EventID` = `k`.`EventID`))) join `ms_slotkategori` `s` on((`k`.`KategoriID` = `s`.`KategoriID`))) join `ms_biayakategori` `b` on((`k`.`KategoriID` = `b`.`KategoriID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_keamanan_akses`
--

/*!50001 DROP VIEW IF EXISTS `v_keamanan_akses`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_keamanan_akses` AS select `u`.`Username` AS `Username`,`al`.`IPAddress` AS `IPAddress`,`al`.`WaktuLogin` AS `WaktuLogin`,`t`.`WaktuExpired` AS `TokenExpired` from ((`tr_pengguna` `u` left join `tr_aktivitaslogin` `al` on((`u`.`PenggunaID` = `al`.`PenggunaID`))) left join `ms_resetpasswordtoken` `t` on((`u`.`PenggunaID` = `t`.`PenggunaID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_konfirmasi_pembayaran`
--

/*!50001 DROP VIEW IF EXISTS `v_konfirmasi_pembayaran`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_konfirmasi_pembayaran` AS select `py`.`PembayaranID` AS `PembayaranID`,`p`.`PendaftaranID` AS `PendaftaranID`,`u`.`NamaLengkap` AS `NamaLengkap`,`m`.`NamaMetode` AS `NamaMetode`,`py`.`NominalBayar` AS `NominalBayar`,`py`.`StatusPembayaran` AS `StatusPembayaran`,`v`.`StatusVerifikasi` AS `StatusVerifikasi` from ((((`tr_pembayaran` `py` join `tr_pendaftaran` `p` on((`py`.`PendaftaranID` = `p`.`PendaftaranID`))) join `tr_pengguna` `u` on((`p`.`PenggunaID` = `u`.`PenggunaID`))) join `ms_metodepembayaran` `m` on((`py`.`MetodeID` = `m`.`MetodeID`))) left join `tr_verifikasipembayaran` `v` on((`py`.`PembayaranID` = `v`.`PembayaranID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_leaderboard`
--

/*!50001 DROP VIEW IF EXISTS `v_leaderboard`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_leaderboard` AS select `h`.`PeringkatUmum` AS `PeringkatUmum`,`u`.`NamaLengkap` AS `NamaLengkap`,`k`.`NamaKategori` AS `NamaKategori`,`h`.`WaktuFinish` AS `WaktuFinish`,`pu`.`KelompokUsia` AS `KelompokUsia`,`pu`.`PeringkatKelompok` AS `PeringkatKelompok` from ((((`tr_hasillomba` `h` join `tr_pendaftaran` `p` on((`h`.`PendaftaranID` = `p`.`PendaftaranID`))) join `tr_pengguna` `u` on((`p`.`PenggunaID` = `u`.`PenggunaID`))) join `ms_kategorilomba` `k` on((`p`.`KategoriID` = `k`.`KategoriID`))) left join `tr_peringkatkelompokusia` `pu` on((`h`.`HasilID` = `pu`.`HasilID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_logistik_racepack`
--

/*!50001 DROP VIEW IF EXISTS `v_logistik_racepack`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_logistik_racepack` AS select `p`.`PendaftaranID` AS `PendaftaranID`,`u`.`NamaLengkap` AS `NamaLengkap`,`d`.`NomorBIB` AS `NomorBIB`,`d`.`ChipTimerID` AS `ChipTimerID`,`rs`.`StatusPengambilan` AS `StatusPengambilan` from (((`tr_pendaftaran` `p` join `tr_pengguna` `u` on((`p`.`PenggunaID` = `u`.`PenggunaID`))) join `tr_racepackdetailpeserta` `d` on((`p`.`PendaftaranID` = `d`.`PendaftaranID`))) left join `tr_racepackdistribusi` `rs` on((`p`.`PendaftaranID` = `rs`.`PendaftaranID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_profil_pengguna`
--

/*!50001 DROP VIEW IF EXISTS `v_profil_pengguna`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_profil_pengguna` AS select `p`.`PenggunaID` AS `PenggunaID`,`p`.`Username` AS `Username`,`p`.`Email` AS `Email`,`p`.`NamaLengkap` AS `NamaLengkap`,`r`.`NamaPeran` AS `NamaPeran` from (`tr_pengguna` `p` join `ms_peran` `r` on((`p`.`PeranID` = `r`.`PeranID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_rekap_keuangan_event`
--

/*!50001 DROP VIEW IF EXISTS `v_rekap_keuangan_event`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_rekap_keuangan_event` AS select `e`.`NamaEvent` AS `NamaEvent`,count(`p`.`PendaftaranID`) AS `Total_Pendaftar`,sum(`py`.`NominalBayar`) AS `Total_Pendapatan`,count((case when (`py`.`StatusPembayaran` = 'Lunas') then 1 end)) AS `Jumlah_Lunas` from (((`ms_event` `e` join `ms_kategorilomba` `k` on((`e`.`EventID` = `k`.`EventID`))) join `tr_pendaftaran` `p` on((`k`.`KategoriID` = `p`.`KategoriID`))) left join `tr_pembayaran` `py` on((`p`.`PendaftaranID` = `py`.`PendaftaranID`))) group by `e`.`EventID` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_rekap_sponsor_peserta`
--

/*!50001 DROP VIEW IF EXISTS `v_rekap_sponsor_peserta`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_rekap_sponsor_peserta` AS select `s`.`NamaSponsor` AS `NamaSponsor`,`s`.`TingkatSponsor` AS `TingkatSponsor`,`u`.`NamaLengkap` AS `NamaPeserta`,`dp`.`JenisPilihan` AS `JenisPilihan`,`dp`.`NilaiPilihan` AS `NilaiPilihan` from (((`tr_sponsor` `s` join `tr_detailpilihanpeserta` `dp` on((`s`.`SponsorID` = `dp`.`SponsorID`))) join `tr_pendaftaran` `p` on((`dp`.`PendaftaranID` = `p`.`PendaftaranID`))) join `tr_pengguna` `u` on((`p`.`PenggunaID` = `u`.`PenggunaID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_riwayat_notifikasi`
--

/*!50001 DROP VIEW IF EXISTS `v_riwayat_notifikasi`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_riwayat_notifikasi` AS select `kn`.`KirimID` AS `KirimID`,`u`.`NamaLengkap` AS `Penerima`,`n`.`JudulNotifikasi` AS `JudulNotifikasi`,`n`.`TipeNotifikasi` AS `TipeNotifikasi`,`kn`.`WaktuKirim` AS `WaktuKirim`,`kn`.`StatusKirim` AS `StatusKirim` from ((`tr_pengirimannotifikasi` `kn` join `ms_notifikasi` `n` on((`kn`.`NotifikasiID` = `n`.`NotifikasiID`))) join `tr_pengguna` `u` on((`kn`.`PenggunaTargetID` = `u`.`PenggunaID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_statistik_admin`
--

/*!50001 DROP VIEW IF EXISTS `v_statistik_admin`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_statistik_admin` AS select (select count(0) from `ms_event`) AS `Total_Event`,(select count(0) from `tr_pendaftaran`) AS `Total_Pendaftar`,(select sum(`tr_pembayaran`.`NominalBayar`) from `tr_pembayaran` where (`tr_pembayaran`.`StatusPembayaran` = 'Lunas')) AS `Total_Pendapatan`,(select count(0) from `tr_pengguna`) AS `Total_User` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_timeline_aktivitas`
--

/*!50001 DROP VIEW IF EXISTS `v_timeline_aktivitas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_timeline_aktivitas` AS select `u`.`NamaLengkap` AS `NamaLengkap`,'Pendaftaran Baru' AS `Tipe_Aktivitas`,`p`.`TanggalPendaftaran` AS `Waktu` from (`tr_pendaftaran` `p` join `tr_pengguna` `u` on((`p`.`PenggunaID` = `u`.`PenggunaID`))) union all select `u`.`NamaLengkap` AS `NamaLengkap`,'Login' AS `Tipe_Aktivitas`,`l`.`WaktuLogin` AS `Waktu` from (`tr_aktivitaslogin` `l` join `tr_pengguna` `u` on((`l`.`PenggunaID` = `u`.`PenggunaID`))) order by `Waktu` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_verifikasi_dokumen`
--

/*!50001 DROP VIEW IF EXISTS `v_verifikasi_dokumen`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_verifikasi_dokumen` AS select `d`.`DokumenID` AS `DokumenID`,`p`.`PendaftaranID` AS `PendaftaranID`,`u`.`NamaLengkap` AS `NamaLengkap`,`d`.`NamaDokumen` AS `NamaDokumen`,`d`.`Wajib` AS `Wajib` from ((`ms_dokumenpendukung` `d` join `tr_pendaftaran` `p` on((`d`.`PendaftaranID` = `p`.`PendaftaranID`))) join `tr_pengguna` `u` on((`p`.`PenggunaID` = `u`.`PenggunaID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-19 11:06:21
